@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --font: "DM Sans", sans-serif;
  --color-one: #e8604c;
  --black-color: #313041;
  --gray-color: #787780;
  --bg-color-one: #313041;
  --rey-font: "reeyregular";
}

body {
  font-family: var(--font);
}

a,
a:hover,
a:focus
 {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.nut {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  /* Căn chình phần từ theo chiều dọc dựa trên phần tử cha */
  border: none;
  outline: none;
  background-color: var(--color-one);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 8px 30px 8px;
  transition: all 0.3s linear;/*Tốc độ chuyển đổi không thay đổi từ đầu đến cuối*/
  overflow: hidden;
  letter-spacing: 0.1em;
  z-index: 1;
}
.nut:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #313041;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;/*bắt đầu chậm, tăng tốc ở giữa và cuối cùng chậm*/
  transition-duration: 0.5s;
  transition-property: all;
  opacity: 1;
  transform-origin: bottom;
  transform-style: preserve-3d;/*Hiển thị phần tử trong không gian 3 chiều*/
  transform: scaleY(0);
  z-index: -1;
}
.nut:hover:after {
  opacity: 1;
  transform: scaleY(1);
}
.nut:hover {
  color: #fff;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Title */
.section-title {
  text-align: center;
}
.section-title__tagline {
  display: block;
  color: var(--color-one);
  font-size: 20px;
  align-items: center;
  line-height: 30px;
  font-weight: 400;
  font-family: var(--rey-font);
}
.section-title__title {
  margin: 0;
  font-weight: 700;
  color: var(--thm-black);
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -0.02em;
}

/* Title */

.show {
  opacity: 1;
  visibility: visible;
}


/* Page header */
.page-header_img-box {
  width: 100%;
  position: relative;
}
.page-header_img img {

  position: relative;
}
.page-header-title {
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
}
/*End Page header */

